antlr4-python3-runtime==4.13.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
astroid==3.3.9
attrs==25.3.0
bcrypt==4.3.0
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
boto3==1.37.16
botocore==1.37.16
bs4==0.0.2
cachelib==0.13.0
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.8
coverage==7.8.0
cryptography==44.0.2
dill==0.3.9
distro==1.9.0
dnspython==2.7.0
docker==7.1.0
dockerpty==0.4.1
docopt==0.6.2
dominate==2.9.1
dulwich==0.22.8
email_validator==2.2.0
Flask==3.1.0
Flask-Admin==1.6.1
Flask-Assets==2.1.0
Flask-Caching==2.3.1
Flask-Login==0.6.3
Flask-Mailman==1.1.1
Flask-Principal==0.4.0
Flask-Security==5.6.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.2
idna==3.10
importlib_resources==6.5.2
iniconfig==2.1.0
isort==6.0.1
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==3.2.0
libsass==0.23.0
MarkupSafe==3.0.2
mccabe==0.7.0
packaging==24.2
paramiko==3.5.1
passlib==1.7.4
platformdirs==4.3.7
pluggy==1.5.0
pycparser==2.22
pydevd==3.3.0
pylint==3.3.6
PyMySQL==1.1.1
PyNaCl==1.5.0
pyrsistent==0.20.0
pytest==8.3.5
pytest-cov==6.1.0
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==0.21.1
PyYAML==6.0
readchar==4.2.1
requests==2.32.3
s3transfer==0.11.4
six==1.17.0
soupsieve==2.6
SQLAlchemy==2.0.39
SQLAlchemy-Utils==0.41.2
texttable==1.7.0
tomlkit==0.13.2
typing_extensions==4.12.2
urllib3==2.3.0
visitor==0.1.3
webassets==2.0
webencodings==0.5.1
websocket-client==0.59.0
Werkzeug==3.1.3
WTForms==3.1.2
