<div class="row align-items-center">
    <!-- Logo -->
    <div class="col-auto">
        <a href="{{ url_for('index') }}">
        <img src="{{ url_for('static', filename='images/booksearch.png') }}"
             alt="Book Search Logo" class="img-fluid" style="width: 100px;">
        </a>
    </div>
    <!-- Heading -->
    <div class="col d-flex align-items-center" style="transform: translateY(-20%);">
        <h1 class="mb-0" style="line-height: 1;">{{ form_title_heading }}</h1>
    </div>
  </div>
