{% extends "base.html" %}
{% from "security/_macros.html" import render_field_with_errors, render_field, render_field_errors, render_form_errors, prop_next %}

{% block content %}
<div class="container mt-3">
  {% include "security/_messages.html" %}

  {% set form_title_heading="Login" %}
  {% include "security/_form_title_include.html" %}

  <div class="mt-2">
  <form action="{{ url_for_security('login') }}" method="post" name="login_user_form" class="needs-validation">
    {{ login_user_form.hidden_tag() }}

    <!-- Render form errors in Bootstrap style -->
    <div class="text-danger">
      {{ render_form_errors(login_user_form) }}
    </div>

    <!-- Email field with Bootstrap classes -->
    {% if login_user_form.email and "email" in identity_attributes %}
      <div class="form-group">
        {{ render_field_with_errors(login_user_form.email, class_="form-control") }}
      </div>
    {% endif %}

    <!-- Password field -->
    <div class="form-group">
      {{ render_field_with_errors(login_user_form.password, class_="form-control") }}
    </div>

    <!-- CSRF Token Field -->
    <div class="text-danger">
      {{ render_field_errors(login_user_form.csrf_token) }}
    </div>

    <!-- Submit Button -->
    <div class="form-group">
      {{ render_field(login_user_form.submit, class_="btn btn-primary") }}
    </div>
  </form>
  </div>
  {% set skip_login_menu='True' %}
  {% include "security/_menu.html" %}
</div>
{% endblock content %}

{% block scripts %}
{{ super() }}
    <script>
        // Set the value of the next field to the referrer if it is empty.
        document.addEventListener("DOMContentLoaded", function () {
            var nextInput = document.getElementById("next");
            if (nextInput && nextInput.value.trim() === "") {
                nextInput.value = "{{  (parse_url(request.referrer).path ~ ('?' ~ parse_url(request.referrer).query if parse_url(request.referrer).query else '') if request.referrer else url_for('index'))| safe }}";
            }
        });
    </script>

    <!-- Help Scout beacon to request a userid -->
    <script type="text/javascript">!function(e,t,n){function a(){var e=t.getElementsByTagName("script")[0],n=t.createElement("script");n.type="text/javascript",n.async=!0,n.src="https://beacon-v2.helpscout.net",e.parentNode.insertBefore(n,e)}if(e.Beacon=n=function(t,n,a){e.Beacon.readyQueue.push({method:t,options:n,data:a})},n.readyQueue=[],"complete"===t.readyState)return a();e.attachEvent?e.attachEvent("onload",a):e.addEventListener("load",a,!1)}(window,document,window.Beacon||function(){});</script>
    <script type="text/javascript">window.Beacon('init', '01b9f8de-df99-4367-88b1-51eb0a7f527f')</script>
{% endblock %}
