{# djlint:off H030,H031 #}
{% from '_macros.html'   import show_flashed_messages %}
{% block doc -%}
<!DOCTYPE html>
<html lang="en" {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
<head>
    {%- block head %}
    <title>{% block title %}{{ title|default }}{% endblock %}</title>

    {%- block metas %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- endblock metas %}

    {%- block head_scripts %}
    {%- endblock head_scripts %}

    {%- block styles %}
    <link rel="page icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly-bootstrap-treeview/2.1.8/bootstrap-treeview.min.css">
    <link href="{{ url_for('static', filename='css/booklist.css') }}" rel="stylesheet"/>
    <link href="{{ url_for('static', filename='gen/css/badge-color.css') }}" rel="stylesheet"/>
    {%- endblock styles %}
    {%- endblock head %}
</head>
<body{% block body_attribs %}{% endblock body_attribs %}>
    {% block body -%}
      {% block navbar %}
      {%- endblock navbar %}
      {%- block flash_messages %}
        <div class="container">
          {{ show_flashed_messages() }}
        </div>
      {%- endblock %}
      {% block content -%}
      {%- endblock content %}

      {% block scripts %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.2/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly-bootstrap-treeview/2.1.8/bootstrap-treeview.min.js"></script>
      {%- endblock scripts %}
    {%- endblock body %}
</body>
{%- endblock html %}
</html>
{% endblock doc -%}
