{% extends 'base.html' %}

<!-- Title -->
{% block title %} Search Books {% endblock %}

<!-- Body -->
{% block body %}
<div class="container mt-5">
    <h1>Search by category</h1>

    <div class="d-flex justify-content-between align-items-center mb-3">
        <span>Select categories to include in the search results.</span>
        <div>
            <button id="reset-btn" type="button" class="btn btn-sm btn-secondary mr-2">Reset Filter</button>
            <button type="button" class="btn btn-sm btn-primary">Search</button>
        </div>
    </div>

    <!-- Treeview Container -->
    <div id="tree"></div>
</div>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script>
    $(document).ready(function() {
        // convert tree data to json for use by treeview plugin
        const treedata = {{ category_bs_tree | tojson }};

        $('#tree').treeview({
            data: treedata,
            showIcon: false,
            showCheckbox: true,
            checkboxFirst: false,
            expandIcon: 'fa fa-plus',
            collapseIcon: 'fa fa-minus',
            checkedIcon: 'fa fa-check-square-o',
            uncheckedIcon: 'fa fa-square-o',
            partiallyCheckedIcon: 'fa fa-minus-square-o',
            highlightSelected: true,
            hierarchicalCheck: true,
            propagateCheckEvent: true,
            multiSelect: true,
            levels: 1
        });
    });

    document.getElementById('reset-btn').addEventListener('click', function() {
        var tree = $('#tree').treeview(true);
        // Uncheck all checkboxes
        tree.uncheckAll();
        // Collapse all nodes to show only the first level
        tree.collapseAll();
    });

</script>
{% endblock %}
