{% extends 'base.html' %}

<!-- Title -->
{% block title %} Search Books {% endblock %}

<!-- Body -->
{% block body %}
<div class="container mt-3">
    <!-- Row 1: Logo and Heading -->
    <div class="row align-items-center">
        <!-- Logo -->
        <div class="col-auto">
            <img src="{{ url_for('static', filename='images/booksearch.png') }}"
                 alt="Book Search Logo" class="img-fluid" style="width: 100px;">
        </div>
        <!-- Heading -->
        <div class="col">
            <h1>Search by category</h1>
        </div>
    </div>

    <!-- Row 2: Text (span) and Action Buttons -->
    <div class="row align-items-center mt-1">
        <!-- Text -->
        <div class="col">
            <span>Select categories to include in the search results.</span>
        </div>
        <!-- Buttons -->
        <div class="col-auto text-end">
            <button id="reset-btn" type="button" class="btn btn-sm btn-secondary mr-2">Reset Filter</button>
            <button id="cat-search-btn" type="button" class="btn btn-sm btn-primary">Search</button>
        </div>
    </div>

    <!-- Row 3: Treeview Container -->
    <div class="row mt-2">
        <div class="col">
            <div id="tree"></div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Scripts -->
{% block scripts %}
<script>
    $(document).ready(function() {
        // convert tree data to json for use by treeview plugin
        const treedata = {{ category_bs_tree | tojson }};

        $('#tree').treeview({
            data: treedata,
            showIcon: false,
            showCheckbox: true,
            checkboxFirst: false,
            expandIcon: 'fa fa-plus',
            collapseIcon: 'fa fa-minus',
            checkedIcon: 'fa fa-check-square-o',
            uncheckedIcon: 'fa fa-square-o',
            partiallyCheckedIcon: 'fa fa-minus-square-o',
            highlightSelected: true,
            hierarchicalCheck: true,
            propagateCheckEvent: true,
            multiSelect: true,
            levels: 1
        });
    });

    document.getElementById('reset-btn').addEventListener('click', function() {
        var tree = $('#tree').treeview(true);
        // Uncheck all checkboxes
        tree.uncheckAll();
        // Collapse all nodes to show only the first level
        tree.collapseAll();
    });

    document.getElementById('cat-search-btn').addEventListener('click', function() {
        var tree = $('#tree').treeview(true);
        // Get checked nodes
        var checkedNodes = tree.getChecked();
        // Get checked nodes' ids
        var checkedNodesIds = checkedNodes.map(function (node) {
            return node.id;
        });
        if (checkedNodesIds.length !== 0) {
            // Send checked nodes' ids to search page
            window.location.href = '/search?' + checkedNodesIds.map(id => 'cat=' + encodeURIComponent(id)).join('&');
        }
    });

</script>
{% endblock %}
