{% extends 'admin/model/edit.html' %}

{% block head_css %}
    {{ super() }}

    <!-- link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.2/css/bootstrap.min.css" -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/css/bootstrap-select.min.css">
    <link href="{{ url_for('static', filename='gen/css/badge-color.css') }}" rel="stylesheet"/>
{% endblock %}

{% block tail_js %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta3/js/bootstrap-select.min.js"></script>
    <script>
       $(document).ready(function() {
           $('.selectpicker').selectpicker();
       });
   </script>
{% endblock %}